body{
    
     display: flex;
     align-items: center;
     justify-content: center;
     position: relative;
     text-align: center;
     margin: 0;
     background-image: url('https://jorgedanielsk.github.io/Gears%20of%20War%204.png');
     background-attachment: fixed;
     background-size: cover;
     background-position: center;
}

body .imagen1{
    display: inline-block;
    position: absolute;
    text-align: center;
}

.imagen1 .google img{   
    flex-direction: none;
    top: 50%;
    left: 50px;
    width: 480px;
    height: 180px;
    color: white;
    background: none;
    font-size: 90px;
    transform: translate(-20px, 160px);
    display: flex;
    border-radius: 50px;
}
.imagen1 input{
    background-color: rgba(0, 0, 0, 0.499);
    width: 500px;
    height: 40px;
    transform: translate(-300px, 280px);
    border-radius: 50px;
    font-size: 20px;
    color: rgb(255, 255, 255); 
    border: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    padding-left: 55px;
}
.imagen1 ::placeholder{
    font-size: 17px;
    padding: 50px;
    color: rgb(255, 255, 255);
}
.imagen1 .button :hover{
    background-color: rgb(255, 255, 255);
}
.imagen1 .buscar:hover{
    color: black;
}
.imagen1 .button :active{
    background-color: darkviolet;
}
.imagen1 .imagen img{
    width: 30px;
    height: 30px;
    transform: translate(-268px, 211px);
    border-radius: 50px;
    border-color:darkgray;
}
.imagen1 .familia {
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-100px, 140px);
    
}
.imagen1 .familia b{
    font-size: 20px;
    color: rgb(0, 255, 195);
}

.imagen1 .button button{
    top: 50%;
    left: 50%;
    transform: translate(-12px, 318px);
    border-radius: 80px;
    font-family: none;
    font-size: 20px;
    width: 180px;
    background-color: black;
}
.imagen1 .buscar{
    color: white;
}

.twitch img {
    transform: translate(-70px, 420px);
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
.ajedrez img{
    transform: translate(-15px, 420px);
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
.youtube img{
    transform: translate(20px, 420px);
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
.chat img{
    transform: translate(60px, 420px);
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.titulo1 h1{
    transform: translate(-65px, 540px);
    background: linear-gradient(90deg, rgb(71, 0, 71), rgb(255, 94, 255));
    font-family: sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.titulo3 h1{
    transform: translate(-18px, 540px);
    background-image: linear-gradient(to right, #00ff11, #b300ff,
    #ff0000, #fffb00,
    #00f7ff, #ffd000);
    font-size: 25px;
    background-size: 400%;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    word-spacing: 5px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animation 5s linear infinite;
}
@keyframes animation{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}
/* .titulo2 h1{
    transform: translate(50px, 540px);
    color: rgb(255, 0, 0);
    font-size: 20px;
    
} */
.titulo2 h1{
    transform: translate(25px, 540px);
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    letter-spacing: 0.05em;
    background: linear-gradient( #ff0000 16.7%, #ffff00, #ff00f3, #0033ff, #ff00c4,
     #ff0000); 
  
    -webkit-background-clip: text;
    
    line-height: 1.1em;
    animation: rainbow 50s linear infinite;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
@keyframes rainbow{
    100%{
        background-position: 0 30em;
    }
}

/* .titulo4 h1{
    transform: translate(100px, 540px);
    color: violet;
    font-size: 20px;
} */
.titulo4 h1{
    transform: translate(65px, 540px);
    background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
    font-size: 25px;
    background-size: 400%;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    word-spacing: 5px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 10s linear infinite;
}
@keyframes animate{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}


input:active{
    background-color: rgb(0, 251, 255);
    animation-duration: 150s;
}
.imagen1 .gmail{
    position: absolute;
    transform: translate(450px, -20px);
    font-size: 25px;
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
    color: rgba(0,0,0,.87);
    text-decoration: none;
}
.gmail:hover{
    font-size: 30px;
}




@media screen and (min-width: 360px) and (max-width: 640px) {
    .imagen1 input{
        width: 300px;
        height: 40px;
        transform: translate(-200px, -260px);
        border-radius: 50px;
        font-size: 20px;
        text-align: left;
        color: rgb(255, 255, 255);
        border: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        padding-left: 55px;
    }
    .imagen img{
        width: 40px;
        height: 41px;
        transform: translate(-170px, -538px);
        border-radius: 50px;
        border-color:darkgray;
    }
    .familia{
        font-size: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-170px, -538px);
        color:darkorange;
    }
    .familia b{
        font-size: 20px;
        color: white;
    }
    .google img{   
        flex-direction: none;
        top: 50%;
        left: 50px;
        width: 480px;
        height: 180px;
        color: white;
        background: none;
        font-size: 90px;
        transform: translate(465px, -885px);
        display: flex;
        border-radius: 50px;
    }
    input:active{
        background-color: antiquewhite;
        animation-duration: 150s;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .imagen1 img{
        font-display: 500px;
        font-weight: 100px;
        width: 1535px;
        height: 740px;
        left: auto;
        top: auto;
        display: inline-block;
        position: relative;
        text-align: center;
        transform: translate(0px, 412px);
    }
    .imagen1 input{
        width: 500px;
        height: 40px;
        transform: translate(-290px, 250px);
        border-radius: 50px;
        font-size: 20px;
        text-align: left;
        color: rgb(255, 255, 255);
        border: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        padding-left: 55px;
    }
    .imagen1 .imagen img{
        width: 30px;
        height: 31px;
        transform: translate(-260px, 182px);
        border-radius: 50px;
        border-color:darkgray;
    }
    .imagen1 .familia{
        font-size: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-90px, 110px);
        color: darkorange;
        font-style: initial;
    }
    .imagen1 .familia b{
        
        font-size: 20px;
        color: rgb(145, 255, 0);
    }
    .google img{   
        flex-direction: none;
        top: 50%;
        left: 50px;
        width: 480px;
        height: 180px;
        color: white;
        background: none;
        font-size: 90px;
        transform: translate(460px, -300px);
        display: flex;
        border-radius: 50px;
    }
    .button button{
        top: 50%;
        left: 50%;
        transform: translate(-2px, -190px);
        border-radius: 80px;
        font-family: none;
        font-size: 20px;
        width: 180px;
        background-color: black;
    }
    .buscar{
        color: white;
    }
    .titulo1 h1{
        transform: translate(-50px, 540px);
        color: rgb(222, 5, 255);
        font-size: 20px;
    }
    .twitch img {
        transform: translate(-50px, 420px);
        height: 50px;
        width: 50px;
        border-radius: 50px;
    }
    input:active{
        background-color: rgb(81, 255, 0);        animation-duration: 150s;
    }
}
@media screen and (min-width: 360px) and (max-width: 720px) {
    body{
        font-size: 14px;
        
        
    }
    img{
        max-width: 100%;
    }
    .imagen1 input{
        width: 300px;
        height: 40px;
        transform: translate(-179px, 229px);
        border-radius: 50px;
        font-size: 20px;
        text-align: left;
        color: rgb(154, 93, 150);
        border: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        padding-left: 55px;
    }
    .imagen1 .imagen img{
        width: 30px;
        height: 30px;
        transform: translate(-148px, 158px);
        border-radius: 50px;
        border-color:darkgray;
    }
    .imagen1 .familia{

        font-size: 3px;
        top: 50%;
        left: 50%;
        transform: translate(-2px, 95px);
        color:darkorange;
        font-style: italic;
        
    }
    .imagen1 .familia b{
        
        font-size: 16px;
        color: rgb(204, 0, 255);
    }
    .imagen1 .google img{   
        flex-direction: none;
        top: 50%;
        left: 50px;
        width: 400px;
        height: 180px;
        color: white;
        background: none;
        font-size: 90px;
        transform: translate(-2px, 100px);
        display: flex;
        border-radius: 50px;
    }
    .imagen1 .button button{
        top: 50%;
        left: 50%;
        transform: translate(5px, 242px);
        border-radius: 80px;
        font-family: none;
        font-size: 20px;
        width: 180px;
        background-color: black;
    }
    .buscar{
        color: white;
    }


    .titulo1 h1{/* Twitch */
        transform: translate(30px, 630px);
        background: linear-gradient(90deg, rgb(71, 0, 71), rgb(255, 94, 255));
        font-family: sans-serif;
        font-size: 25px;
        text-transform: uppercase;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .titulo3 h1{/* Ajedrez */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(50px, 570px);
        background-image: linear-gradient(to right, #00ff11, #b300ff,
        #ff0000, #fffb00,
        #00f7ff, #ffd000);
        font-size: 25px;
        background-size: 400%;
        font-family: sans-serif;
        letter-spacing: 1px;
        font-weight: 600;
        word-spacing: 5px;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        animation: animation 5s linear infinite;
    }
    @keyframes animation{
        0%{
            background-position: 0%;
        }
        100%{
            background-position: 400%;
        }
    }
    .titulo2 h1{/* Youtube */
        transform: translate(-125px, 493px);
        font-family: "Poppins", sans-serif;
        font-size: 25px;
        letter-spacing: 0.05em;
        background: linear-gradient( #b700ff, #000400,
        #00eeff, #0033ff,
        #ff00e1,
        #ffe600); 
        -webkit-background-clip: text;
        line-height: 1.1em;
        animation: rainbow 50s linear infinite;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    @keyframes rainbow{
        100%{
            background-position: 0 30em;
        }
    }
    .titulo4 h1{/* Chat Gpt */
        transform: translate(-30px, 493px);
        background: linear-gradient(120deg, #00fff2, #3cff00,
        #1900ff, #a600ff,
        #ff0000, #ddff00);
        font-size: 25px;
        background-size: 400%;
        font-family: sans-serif;
        letter-spacing: 1px;
        font-weight: 600;
        word-spacing: 5px;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        animation: animate 5s linear infinite;
    }
    @keyframes animate{
        0%{
            background-position: 0%;
        }
        100%{
            background-position: 400%;
        }
    }



    .twitch img {
        transform: translate(29px, 505px);
        height: 50px;
        width: 50px;
        border-radius: 50px;
    }

    .chat img{
        transform: translate(-35px, 370px);
        height: 50px;
        width: 50px;
        border-radius: 50px;
    }

    .youtube img{
        transform: translate(-130px, 370px);
        height: 50px;
        width: 50px;
        border-radius: 50px;
    }

    .ajedrez img{
        transform: translate(165px, 535px);
        height: 50px;
        width: 50px;
        border-radius: 50px;
    }

    .imagen1 ::placeholder{
        font-size: 13px;
        padding: 5px;
        color: black;
        color: rgb(255, 255, 255);
    }
    input:active{
        background-color: rgba(217, 0, 255, 0.865);
        animation-duration: 150s;
    }
    .imagen1 .gmail{
        transform: translate(-47px, 310px);
    }

}


@media screen and (min-width: 399px) and (max-width: 694px){

    body{
        font-size: 14px;
        
        overflow: hidden;
    }
    img{
        max-width: 100%;
    }
    .imagen1 input{
        width: 300px;
        height: 40px;
        transform: translate(-179px, 229px);
        border-radius: 50px;
        font-size: 20px;
        text-align: left;
        color: rgb(154, 93, 150);
        border: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        padding-left: 55px;
    }
    .imagen1 .imagen img{
        width: 30px;
        height: 30px;
        transform: translate(-148px, 158px);
        border-radius: 50px;
        border-color:darkgray;
    }
    .imagen1 .familia{

        font-size: 3px;
        top: 50%;
        left: 50%;
        transform: translate(-2px, 95px);
        color:darkorange;
        font-style: italic;
        
    }
    .imagen1 .familia b{
        
        font-size: 16px;
        color: rgb(204, 0, 255);
    }
    .imagen1 .google img{   
        flex-direction: none;
        top: 50%;
        left: 50px;
        width: 400px;
        height: 180px;
        color: white;
        background: none;
        font-size: 90px;
        transform: translate(-2px, 100px);
        display: flex;
        border-radius: 50px;
    }
    .imagen1 .button button{
        top: 50%;
        left: 50%;
        transform: translate(0px, 242px);
        border-radius: 80px;
        font-family: none;
        font-size: 20px;
        width: 180px;
        background-color: black;
    }
    .buscar{
        color: white;
    }


    .titulo1 h1{/* Twitch */
        transform: translate(30px, 630px);
        background: linear-gradient(90deg, rgb(71, 0, 71), rgb(255, 94, 255));
        font-family: sans-serif;
        font-size: 25px;
        text-transform: uppercase;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .titulo3 h1{/* Ajedrez */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(50px, 570px);
        background-image: linear-gradient(to right, #00ff11, #b300ff,
        #ff0000, #fffb00,
        #00f7ff, #ffd000);
        font-size: 25px;
        background-size: 400%;
        font-family: sans-serif;
        letter-spacing: 1px;
        font-weight: 600;
        word-spacing: 5px;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        animation: animation 5s linear infinite;
    }
    @keyframes animation{
        0%{
            background-position: 0%;
        }
        100%{
            background-position: 400%;
        }
    }
    .titulo2 h1{/* Youtube */
        transform: translate(-119px, 493px);
        font-family: "Poppins", sans-serif;
        font-size: 25px;
        letter-spacing: 0.05em;
        background: linear-gradient( #b700ff, #000400,
        #00eeff, #0033ff,
        #ff00e1,
        #ffe600); 
        -webkit-background-clip: text;
        line-height: 1.1em;
        animation: rainbow 50s linear infinite;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    @keyframes rainbow{
        100%{
            background-position: 0 30em;
        }
    }
    .titulo4 h1{/* Chat Gpt */
        transform: translate(-25px, 493px);
        background: linear-gradient(120deg, #00fff2, #3cff00,
        #1900ff, #a600ff,
        #ff0000, #ddff00);
        font-size: 25px;
        background-size: 400%;
        font-family: sans-serif;
        letter-spacing: 1px;
        font-weight: 600;
        word-spacing: 5px;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        animation: animate 5s linear infinite;
    }
    @keyframes animate{
        0%{
            background-position: 0%;
        }
        100%{
            background-position: 400%;
        }
    }



    .twitch img {
        transform: translate(29px, 505px);
        height: 50px;
        width: 50px;
        border-radius: 50px;
    }

    .chat img{
        transform: translate(-32px, 370px);
        height: 50px;
        width: 50px;
        border-radius: 50px;
    }

    .youtube img{
        transform: translate(-124px, 370px);
        height: 50px;
        width: 50px;
        border-radius: 50px;
    }

    .ajedrez img{
        transform: translate(165px, 535px);
        height: 50px;
        width: 50px;
        border-radius: 50px;
    }

    .imagen1 ::placeholder{
        font-size: 13px;
        padding: 5px;
        color: black;
        color: rgb(255, 255, 255);
    }
    input:active{
        background-color: rgba(217, 0, 255, 0.865);
        animation-duration: 150s;
    }
    .imagen1 .gmail{
        transform: translate(-38px, 310px);
    }

}




        